.venv/
venv/
env/
myenv/
.myenv
.env


__pycache__/
*.py[cod]
*$py.class


build/
dist/
*.egg-info/
*.egg
*.so


.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.mypy_cache/
.ruff_cache/


.vscode/
.idea/
*.swp
*.swo


.env
.env.local
.env.*.local
*.log


.DS_Store
Thumbs.db

uv.lock/
data/
.gitignore
.python-version
.ipynb_checkpoints
chroma_db/